<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="app.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      var clickX = new Array();
      var clickY = new Array();
      var clickDrag = new Array();
      var clickColor = new Array();
      var paint = false;

      var colors = {
        purple: "#cb3594",
        green: "#659b41",
        yellow: "#ffcf33",
        brown: "#986928",
        red: "#df4b26"
      };

      var curColor = colors.purple;

      function addClick(x, y, dragging) {
        clickX.push(x);
        clickY.push(y);
        clickDrag.push(dragging);
        clickColor.push(curColor);
      }

      function redraw() {
        var context = $("#drawing-canvas")[0].getContext("2d");
        context.clearRect(0, 0, context.canvas.width, context.canvas.height);
        context.lineJoin = "round";
        context.lineWidth = "5";

        for (var i = 0; i < clickX.length; i++) {
          context.beginPath();
          if (clickDrag[i] && i) {
            context.moveTo(clickX[i - 1], clickY[i - 1]);
          } else {
            context.moveTo(clickX[i] - 1, clickY[i]);
          }
          context.lineTo(clickX[i], clickY[i]);
          context.closePath();
          context.strokeStyle = clickColor[i];
          context.stroke();
        }
      }

      $(".canvas-color").click(function (e) {
        console.log("a");
        var newColor = e.target.value;
        curColor = colors[newColor];
      });

      $('.drawing-canvas').mousedown(function (e) {
        console.log("a");
        var mouseX = e.pageX - this.offsetLeft;
        var mouseY = e.pageY - this.offsetTop;
        paint = true;
        addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
        redraw();
      });
      $('.drawing-canvas').mousemove(function (e) {
        console.log("b");
        if (paint) {
          addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
          redraw();
        }
      });
      $('.drawing-canvas').mouseup(function (e) {
        console.log("c");
        paint = false;
      });
      $('.drawing-canvas').mouseleave(function (e) {
        console.log("d");
        paint = false
      });
    });
  </script>
</head>
<body>

<h1>Telephone Pictionary</h1>

<p>To play, start a game by writing a phrase.</p>

<p>The next person will draw a picture representing that phrase.</p>

<p>The person after that will write a phrase describing the picture.</p>

<p>And repeat!</p>

<hr>

<div ng-app="telepic" ng-controller="GameCtrl">
  <form class="form-inline">
    Your name: <input type="text" ng-model="username">
  </form>
  <div ng-cloak ng-repeat="turn in turns">
    <em>{{turn.from}}: </em> <br/>

    <div ng-if="turn.type == 'drawing'">
      <img ng-src="{{turn.content}}"/>
    </div>
    <div ng-if="turn.type != 'drawing'">{{turn.content}}</div>
  </div>

  <form class="form-inline" ng-submit="addPhrase()">
    <input type="text" ng-model="phrase" placeholder="Phrase...">
    <button class="btn" type="submit">
      <i class="icon-reply">Done!</i>
    </button>
  </form>

  <form class="form-inline" ng-submit="addDrawing()">
  </form>

  <test>
    <test-color name="Red"></test-color>
  </test>  
</div>

</body>
</html>
